{% extends 'dashb/base.html' %}
{% block content %}
<!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                    <div class="page-header">
                        <form method="get" class="d-flex">
                            <label for="name">Maxsulot nom</label>
                            <input class="form-control" type="text" name="name" id="name" required>
                            <label for="quantity">Miqdor</label>
                            <input class="form-control" type="number" name="quantity" id="quantity" required>
                            <label for="created_at">Sana</label>
                            <input class="form-control" type="datetime-local" name="created_at" id="created_at" required>
                            <button type="submit" class="btn btn-success w-50 ms-1" >Filter</button>
                        </form>
                        <a href="{% url 'generate_excel' %}"><button class="btn btn-danger">Excel generate</button></a>
                        
                </div>
                
                <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="file" name="excel_file" accept=".xlsx, .xls">
                                            <button type="submit" class="btn btn-light">Import Excel</button>
                                        </form>
                
                
                    
                   
                <!-- PAGE-HEADER END -->
                
                <!-- Row -->
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Kirimlar ro`yxati</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table text-nowrap text-md-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th>№</th>
                                                <th>Maxsulot nomi</th>
                                                <th>Soni</th>
                                                <th>Sana</th>
                                                <th>O`zgartirish</th>
                                                <th>O`chirish</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for enter in enters %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                {% if enter.product %}
                                                <td>{{enter.product.name}}</td>
                                                {% else %}
                                                <td>{{enter.product_name}}</td>
                                                {% endif %}
                                                <td>{{enter.quantity}}</td>
                                                <td>{{enter.created_at|date:'Y-m-d H:i'}}</td>
                                                {% if enter.product %}
                                                <td><button data-bs-target="#modalupdate{{enter.id}}" data-bs-toggle="modal" href="javascript:void(0)" class="btn btn-success">O'zgartirish</button></td>
                                                {% else %}
                                                <td><button class="btn btn-success">O'zgartirish</button></td>
                                                {% endif %}
                                                <td><button data-bs-target="#modaldelete{{enter.id}}" data-bs-toggle="modal" href="javascript:void(0)" class="btn btn-danger">O'chirish</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                {% for i in enters %}
                <div class="modal fade" id="modalupdate{{i.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-content-demo">
                            <div class="modal-header">
                                <h6 class="modal-title">Kirimni o`zgartirish</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'update_enter' i.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" class="form-control" name="quantity" value="{{i.quantity}}">
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Saqlash</button> 
                                <button class="btn btn-light" data-bs-dismiss="modal">Qaytish</button>
                            </form>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modaldelete{{i.id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-content-demo">
                            <div class="modal-header">
                                <h6 class="modal-title">Maxsulotni o`chriish</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'delete_enter' i.id %}" method="get">
                                    <label for="my_chkb">O`chirmoqchimisiz? </label>
                                    <input type="checkbox" required id="my_chkb">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">O`chrish</button> 
                                    <button class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- CONTAINER CLOSED -->

        </div>
    </div>
    <!--app-content close-->
    {% endblock %}