{% extends 'dashb/base.html' %}
{% load static %}
{% block content %}

            <!--app-content open-->
            <div class="main-content app-content mt-0">
                <div class="side-app">

                    <!-- CONTAINER -->
                    <div class="main-container container-fluid">

                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <h1 class="page-title">Yangliklar</h1>
                        </div>
                        <!-- PAGE-HEADER END -->
                        
                        <!-- Row -->
                        <div class="row">
                            <div class='col-3'></div>
                            <div class="col-xl-6 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">yangilik yaratish</h3>
                                    </div>
                                    <form method='post' enctype="multipart/form-data"> 
                                        {% csrf_token %} 
                                    <div class="card-body pb-2">
                                        <div class="row row-sm">
                                            <div class="col-lg">
                                                <label>Sarlavha</label>
                                                <input class="form-control mb-4" placeholder="Nom kiriting" type="text" name='title'>
                                            </div>
                                        </div>
                                        <div class="row row-sm">
                                            <div class="col-lg">
                                                <label>Tana qism</label>
                                                <textarea cols="30" rows="10" class="form-control mb-4" name="description"></textarea>
                                                <div class="row row-sm">
                                                    <div class="col-lg">
                                                        <label>Quantity</label>
                                                        <input class="form-control mb-4" placeholder="kiriting" type="text" name='quantity'>
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-lg">
                                                        <label>Narxi</label>
                                                        <input class="form-control mb-4" placeholder="kiriting" type="text" name='price'>
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-lg">
                                                        <label>Narxi</label>
                                                        <input class="form-control mb-4" placeholder="kiriting" type="text" name='price'>
                                                    </div>
                                                </div>
                                                <div class="row row-sm">
                                                    <div class="col-lg">
                                                        <label>Chegirma narxi</label>
                                                        <input class="form-control mb-4" placeholder="kiriting" type="text" name='discount_price'>
                                                    </div>
                                                </div>
                                                <label>currency</label>
                                                <select class="form-control select2" name="currency" >
                                                    {%  for item in items %}
                                                    <option value="">{{ item.currency}}</option>
                                                    {% endfor %}
                                                </select>
                                                <label>Categoryilar</label>
                                                <select class="form-control select2" name="category_id" >
                                                    {%  for category in categorys %}
                                                    <option value="{{category.id}}">{{ category.name}}</option>
                                                    {% endfor %}
                                                </select>
                                                <label>Rasm yuklash</label>
                                                <input type="file" class="dropify" data-bs-height="180" name="baner_image">
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-9"></div>
                                            <div class="col">
                                                <button class='btn btn-default btn-pill'>Yaratish</button>  
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        <!-- End Row -->

                    </div>
                    <!-- CONTAINER CLOSED -->

                </div>
            </div>
            <!--app-content close-->
{% endblock %}

{% block js %}
    <!-- FILE UPLOADES JS -->
    <script src="{% static 'dashb/plugins/fileuploads/js/fileupload.js' %}"></script>
    <script src="{% static 'dashb/plugins/fileuploads/js/file-upload.js' %}"></script>

    <!-- INTERNAL File-Uploads Js-->
    <script src="{% static 'dashb/plugins/fancyuploder/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'dashb/plugins/fancyuploder/jquery.fileupload.js' %}"></script>
    <script src="{% static 'dashb/plugins/fancyuploder/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'dashb/plugins/fancyuploder/jquery.fancy-fileupload.js' %}"></script>
    <script src="{% static 'dashb/plugins/fancyuploder/fancy-uploader.js' %}"></script>

{% endblock %}