{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
            <div class="sngl-top">
                <div class="col-md-5 single-top-left">	
						<div class="flexslider">
                            <ul class="slides">
                            {% for img in images %}
                              <li data-thumb="{{img.image.url}}">
                                  <div class="thumb-image"> <img src="{{img.image.url}}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
                              </li>
                            {% endfor %}
                            </ul>
                      </div>
                    <!-- FlexSlider -->
                    <script src="{% static 'js/imagezoom.js' %}"></script>
                    <script defer="" src="{% static 'js/jquery.flexslider.js' %}"></script>
                    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen">

                    <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                      $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: "thumbnails"
                      });
                    });
                    </script>
                </div>	
                <div class="col-md-7 single-top-right">
                    <div class="single-para simpleCart_shelfItem">
                    <h2>{{product.name}}</h2>
                        <div class="star-on">
                            <ul class="star-footer">
                            <div style="display: flex; justify-content: space-between;">
                                {% if is_saved %}
                                <a href="{% url 'main:delete_wish_list' %}?id={{is_saved}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                      </svg>
                                </a>
                                {% else %}
                                <a href="{% url 'main:create_wish_list' %}?product_id={{product.id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                      </svg>
                                </a>
                                {% endif %}

                                
                            </div>

                            {% for _ in range %}
                                <li><a href="#"><i> </i></a></li>
                            {% endfor %}

                            </ul>
                        <div class="clearfix"> </div>
                        </div>
                        
                        <h5 class="item_price"> {% if product.currency == 1 %} $ {{product.price}} {% else %} {{product.price}} so`m {% endif %}</h5>
                        <p>{{product.description}}</p>
                            <a href="#" class="add-cart item_add">ADD TO CART</a>
                        
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="latestproducts">
                <div class="product-one">
                    {% for product in recomendation %}
                    <div class="col-md-4 product-left p-left"> 
                        <div class="product-main simpleCart_shelfItem">
                            <a href="{% url 'main:product_detail' product.id %}" class="mask"><img class="img-responsive zoom-img" src="{{product.baner_image.url}}" alt=""></a>
                            <div class="product-bottom">
                                <h3>{{product.name}}</h3>
                                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{% if product.currency == 1 %} $ {{product.price}} {% else %} {{product.price}} so`m {% endif %}</span></h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{% endblock %}





