{% extends 'base.html' %}
{% block content %}

	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					{% for product in products %}
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="single.html" class="mask"><img class="img-responsive zoom-img" src="{{product.baner_image.url}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{product.name}}</h3>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{product.price}}</span></h4>
							</div>
							<!-- <div class="srch">
								<span>-50%</span>
							</div> -->
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>				
			</div>
		</div>
	</div>
	<!--product-end-->
{% endblock %}